body {
    background-image: url(https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#forecast {
    display: none;
}

.navbar {
    height: 100px;
}

#cityInfo,
#uvIndexColor,
li {
    color: black;
}

#searchResults,
#cityInfo,
.card {
    background-color: #bb875dbb!important;
    max-width: 50vw;
    border-color: white;
}

#cityInfo p {
    color:blue;
}

#searchResults {
    height: 100vh;
}

#searchHistory li {
    list-style: none;
    font-size: 20px;
    color: blue!important;
}
#searchHistory li:hover {
    cursor: pointer;
}

p {
    color: blue;
}

h3 {
    background-color: #bb875dbb!important;
    max-width: 12vw;
    border-color: white;
    color: white;
    padding-left: 20px;
}

h2, h4, h5 {
    color: #ffffff;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #20756a;
}
