body {
    background-image: url(https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
}

#weatherContent {
    display: none;
}

.navbar {
    height: 150px!important;
}

#cityDetail,
#uvIndexColor,
li {
    color: #5879bb!important;
}

#searchResults,
#cityDetail,
.card {
    background-color: #bb875dbb!important;
}

#searchResults {
    height: 100vh;
}

#fiveDay .card {
    border: 1px solid white!important;
}

#searchHistory li {
    background-color: #97A6A4;
    color: #f8f8ff!important;
}

p {
    color: #D9B779;
}

h2, h3, h4, h5 {
    color: #ffffff;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #20756a;
}